:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-golden: 	#f0e68c;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line-light: 1px solid var(--color-grey-light-2);
  --line-dark: 1px solid var(--color-grey-light-4); }

* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.content {
  padding: 4rem 30rem 7rem 30rem;
  display: flex;
  justify-content: space-between; }

.header-primary {
  padding: 0 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem; }
  .header-primary-currency {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-grey-dark-1); }
    .header-primary-currency > *:not(:last-child) {
      margin-right: 1.2rem; }
    .header-primary-currency i {
      cursor: pointer;
      align-self: flex-start;
      color: currentColor; }
  .header-primary-currency__image {
    width: 2.2rem;
    height: 1.5rem; }
  .header-primary-cart {
    text-transform: uppercase;
    padding: 1rem 4rem;
    border: solid var(--color-golden) 2px;
    cursor: pointer;
    color: var(--color-grey-dark-1);
    font-size: 1.7rem;
    font-weight: 500; }

.heading-primary {
  font-size: 3.5rem; }

.header-secondary {
  padding: 0 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  border-top: var(--line-dark);
  border-bottom: var(--line-dark);
  font-size: 1.7rem; }
  .header-secondary-nav__items {
    display: flex;
    list-style: none; }
    .header-secondary-nav__items > *:not(:last-child) {
      margin-right: 3rem; }
  .header-secondary-nav__item {
    display: flex; }
  .header-secondary-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-grey-dark-1); }
  .header-secondary-nav i {
    margin-left: 1rem;
    align-self: flex-start;
    color: var(--color-grey-dark-1);
    cursor: pointer; }
  .header-secondary-left :first-child {
    margin-right: 1.5rem;
    padding: .8rem 0;
    padding-right: 1.5rem;
    border-right: dashed var(--color-grey-dark-2) 1px; }
  .header-secondary-left span {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-grey-dark-1); }

.content-picture {
  flex-basis: 50%; }

.content-description {
  margin-left: 2rem;
  flex: 1; }

.modal-image img {
  width: 100%; }

.modal-image-thumb {
  display: flex;
  margin-top: 2rem; }
  .modal-image-thumb > *:not(:last-child) {
    margin-right: 2rem; }
  .modal-image-thumb img {
    width: calc((100% - 6rem)/4);
    height: calc((100% - 6rem)/4);
    cursor: pointer; }
