:root {
    --color-primary: #0099CC;
    --color-primary-light: #66CCFF;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-golden: 	#f0e68c;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line-light: 1px solid var(--color-grey-light-2);
    --line-dark: 1px solid var(--color-grey-light-4);
}

//break point variables
$bp-xlargest: 100em; //1600px
$bp-largest: 75em; //1200px
$bp-xlarge: 60em;  //1040px
$bp-large: 68.75em; //1100px
$bp-mediam: 56.25em; //900px
$bp-small: 45em; //720px
$bp-smallest: 31.25em; //500px



*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (min-width: $bp-xlargest) {
        font-size: 75%;
      }

    @media only screen and (max-width: $bp-mediam) {
        font-size: 50%;
      }
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}