/////////////////////////////////////// 
//////////// navigation on hover///// 

.navigation{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 14rem;
    left: 20rem;

    @media only screen and (min-width: $bp-xlargest) {
        left: 30rem;
      }

      @media only screen and (max-width: $bp-largest) {
        left:  10rem;
      }

      @media only screen and (max-width: $bp-large) {
        left:  6rem;
      }

      @media only screen and (max-width: $bp-mediam) {
        left:  2rem;
      }
    
    &-active{
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 14rem;
        left: 20rem;

        @media only screen and (min-width: $bp-xlargest) {
            left: 30rem;
          }
    
          @media only screen and (max-width: $bp-largest) {
            left:  10rem;
          }
    
          @media only screen and (max-width: $bp-large) {
            left:  6rem;
          }
    
          @media only screen and (max-width: $bp-mediam) {
            left:  2rem;
          }
        
    }

    &-women{
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 14rem;
        left: 60rem;

        @media only screen and (min-width: $bp-xlargest) {
            left: 70rem;
          }
    
          @media only screen and (max-width: $bp-largest) {
            left:  40rem;
          }
    
          @media only screen and (max-width: $bp-large) {
            left:  36rem;
          }
    
          @media only screen and (max-width: $bp-mediam) {
            left:  32rem;
          }
        

        
    }

    &-men{
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 14rem;
        left: 48rem;

        @media only screen and (min-width: $bp-xlargest) {
            left: 56rem;
          }
    
          @media only screen and (max-width: $bp-largest) {
            left:  28rem;
          }
    
          @media only screen and (max-width: $bp-large) {
            left:  24rem;
          }
    
          @media only screen and (max-width: $bp-mediam) {
            left:  20rem;
          }
        
    }

    &-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-item{

        }

        &-item__link{
            text-decoration: none;
            color: var(--color-grey-dark-1);
            font-size: 1.4rem;
            text-transform: uppercase;
            display: inline-block;
            background-color: var(--color-grey-light-4);
            width: 10rem;
            padding: .3rem 1rem;
            transition: all .2s;

            &:hover{
                background-color: var(--color-grey-light-3); 
            }
            
        }
    }

}


///////////////////////////////////// 
/////////// primary header ///////// 

.header-primary{
    padding: 0 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;

    @media only screen and (min-width: $bp-xlargest) {
        padding: 0 30rem;
      }

      @media only screen and (max-width: $bp-largest) {
        padding: 0 10rem;
      }

      @media only screen and (max-width: $bp-large) {
        padding: 0 6rem;
      }

      @media only screen and (max-width: $bp-mediam) {
        padding: 0 2rem;
      }

    &-currency{
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: var(--color-grey-dark-1);

        &>*:not(:last-child){
            margin-right: 1.2rem;
        }

        i {
            cursor: pointer;
            align-self: flex-start;
            color: currentColor;
        }
    }

    &-currency__image{
        width: 2.2rem;
        height: 1.5rem;
    }

    &-currency__type{
    
    }

    &-cart{
        text-transform: uppercase;
        padding: 1rem 4rem;
        border:solid var(--color-golden) 2px;
        cursor: pointer;
        color: var(--color-grey-dark-1);
        font-size: 1.7rem;
        font-weight: 500;

        a{
            text-decoration: none;
            color: currentColor;
        }
    }

}

///////////////////////////// 
//////primary heading //////// 
.heading-primary{
    font-size: 3.5rem;
}

///////////////////////////// 
//////// secondary heading //// 

.header-secondary{
    padding: 0 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    border-top: var(--line-dark);
    border-bottom: var(--line-dark);
    font-size: 1.7rem;

    @media only screen and (min-width: $bp-xlargest) {
        padding: 0 30rem;
      }

      @media only screen and (max-width: $bp-largest) {
        padding: 0 10rem;
      }

      @media only screen and (max-width: $bp-large) {
        padding: 0 6rem;
      }

      @media only screen and (max-width: $bp-mediam) {
        padding: 0 2rem;
      }

    i{
        cursor: pointer;
    }

    &-nav{
        @media only screen and (max-width: $bp-small) {
            display: none;
          }

        &__items{
            display: flex;
            list-style: none;

            & > *:not(:last-child){
                margin-right: 3rem;
            }
        }

        &__item{
            display: flex;
        }

        &__link{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: var(--color-grey-dark-1);
        }

        i{
            margin-left: 1rem;
            align-self: flex-start;
            color: var(--color-grey-dark-1);
            cursor: pointer;
        }

    }

    &-left{
        :first-child{
            margin-right: 1.5rem;
            padding: .8rem 0;
            padding-right: 1.5rem;
            border-right: dashed var(--color-grey-dark-2) 1px;
        }

       span{
           display: inline-block;
           font-size: 2rem;
           color: var(--color-grey-dark-1);
       } 
    }
}

//////////////////////////////////// 
////////// main content /////////// 

.content-picture{
    flex-basis: 50%;
}

.content-description{
    margin-left: 2rem;
    flex: 1;
}

.modal-image{
    width: 100%;
    img{
        width: 100%;
    }

    &-thumb{
        display: flex;
        margin-top: 2rem;

        &>*:not(:last-child){
            margin-right: 2rem;
        }

        img{
            width: calc((100% - 6rem)/4);
            height: calc((100% - 6rem)/4);
            cursor: pointer;
        }
    }
}


/////////////////////////////// 
////////////////////////////// 
///// modal product description
////// style //////////////// 
///////////////////////////// 

.heading-secondary{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
}


.modal-description{
    font-size: 1.5rem;

    &>*:not(:last-child){
        margin-bottom: 2rem;
    }
    
    &-back{
        a{
            color: var(--color-grey-dark-1);
            text-decoration: none;
        }

        span{
            color: var(--color-primary);
        }
    }

    &-rating{
        display: flex;
        
        &>*:not(:last-child){
            margin-right: 1rem;
            color: var(--color-grey-dark-1);
        }

        &>*:last-child{
            text-transform: uppercase;
            padding-left: 1rem;
            border-left: solid var(--color-grey-dark-1) 1px;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &-price{
        font-size: 2.3rem;
        color: var(--color-primary);
    }

    &-info{
        p{
            font-weight: 500;
        }

        span{
            color: var(--color-primary-light);
        }
    }

    &-text{
        color: var(--color-grey-dark-1);
    }

    &-feature{
        color: var(--color-grey-dark-1);
        margin-left: .5rem;
    }

    &-selection{
        display: flex;
        justify-content: space-between;

        &>*:not(:last-child){
            margin-right: 2rem;
        }
    }

    &-add{
        display: flex;
        justify-content: space-between;
    }
}


///////////////////////////////
///// buttons //////////////// 
////////////////////////////// 
.btn{
    padding: 1rem 3rem;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;

    i{
        display: inline-block;
        margin-right: 5px;
    }

    &-black{
        background-color: #000;
        color: #fff;
    }

    &-white{
        border: solid var(--color-grey-dark-1) 1px;
    }
}


//////////////////////////////////////////////// 
/////////////////////////////////////////////// 
////////// cart style ///////////////////////// 
////////////////////////////////////////////////
.cart{
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey-light-1);
    &-item{
        width: 60%;
        img{
            width: 9rem;
            height: 12rem;
        }

        p{
            font-size: 1.6rem;
        }


        &-heading{
            font-size: 2.0rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}